body {
    background: linear-gradient(#44c776, #97a1ca);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buttons {
    text-align: center;
    margin: 20px auto;
}

.arrows {
    margin: 30px auto;
}

.left-right {
    margin: 20px 20px;
}

#enter {
    font-size: 2em;
}

#up {
    font-size: 2em;
}

#down {
    font-size: 2em;
}

#left {
    margin: 25px;
    font-size: 2em;
}

#right {
    margin: 25px;
    font-size: 2em;
}